<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.mendelu.tomas.graphpef">

    <application
        android:name=".MainAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_graph_pef_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainScreenControllerActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".activities.GraphMenuListActivity"
            android:screenOrientation="portrait">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff71a2b2cb2457ae507e82fc5385144c75865103" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>